body{
    background-color: rgb(0, 0, 0);
    margin: 0;
}
.font{    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: flex-end;
    margin-left: 2vh;
    margin-right: 2vh;
    padding-bottom: 2vh;
}
a{
    text-decoration: none;
}

/* INICIO cabecera */

#head{
    width: 100%;
    height: 10vh;
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    background-color: rgb(0, 0, 0);
    font-size: small;
    display: flex;

}
#head-l{
    width: 50%;
    display: flex;
    justify-content: left;
}
#head-c{
    width: 20%;
}
#head-r{
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-bottom: 2vh;
}
#logo{
    height: 10vh;
}
.png{
    height: 50%;
    margin-left: 2vh;
    margin-right: 2vh;
}


/* FIN cabecera */


/* INICIO main  */

    #grid{
        height: 90vh;
        display: grid;
        grid-template-columns: 2fr 10fr 10fr 10fr 10fr 10fr 10fr;
        grid-template-rows:  1fr 2fr 1fr 2fr 1fr 2fr;
        gap: 5px;
    }
    
    
        #lat{
        grid-row: 1 / 10;
        }
        .categories{    
            grid-column: 2 / 8;
        }
        .g-portada{
            width: 100%;
            height: 100%;
        }
        .g-p-img{
            object-fit: cover;
            width: 100%;
        }
/* FIN main  */